USE [master]
GO
/****** Object:  Database [Event_Managment_and_Ticketing_System]    Script Date: 03-11-2025 18:45:42 ******/
CREATE DATABASE [Event_Managment_and_Ticketing_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Event_Managment_and_Ticketing_System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Event_Managment_and_Ticketing_System.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Event_Managment_and_Ticketing_System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Event_Managment_and_Ticketing_System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Event_Managment_and_Ticketing_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Event_Managment_and_Ticketing_System]
GO
/****** Object:  Table [dbo].[AddNewEvent]    Script Date: 03-11-2025 18:45:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddNewEvent](
	[EventId] [int] IDENTITY(101,1) NOT NULL,
	[Event_Poster] [varbinary](max) NULL,
	[Event_Title] [varchar](500) NULL,
	[Speaker_Singer] [varchar](500) NULL,
	[Location] [varchar](500) NULL,
	[Event_DateTime] [datetime] NULL,
	[Publish_From] [date] NULL,
	[Publish_Till] [date] NULL,
	[Description] [varchar](800) NULL,
	[Language] [varchar](100) NULL,
	[Price] [int] NULL,
	[Duration] [int] NULL,
	[category_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GetCategory]    Script Date: 03-11-2025 18:45:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GetCategory](
	[catrgoeyId] [int] IDENTITY(1,1) NOT NULL,
	[category_Name] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[catrgoeyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeUser]    Script Date: 03-11-2025 18:45:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Email] [nvarchar](150) NULL,
	[Password] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginDetails]    Script Date: 03-11-2025 18:45:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginDetails](
	[userid] [int] NULL,
	[Username] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[getElementById]    Script Date: 03-11-2025 18:45:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getElementById]
@EventId int
as
Begin
	Select
	a.EventId,
	a.Event_Poster,
	a.Event_Title, 
	a.Speaker_Singer, 
	a.Location, 
	a.Event_DateTime, 
	a.Description,
	a.Language,
	a.Price, 
	a.Duration, 
	a.Publish_From,
	a.Publish_Till,
	g.category_Name,
	g.catrgoeyId
	from AddNewEvent as a
	inner join GetCategory as g on a.category_Id=g.catrgoeyId
	where a.EventId =@EventId
End
GO
/****** Object:  StoredProcedure [dbo].[sp_AddData]    Script Date: 03-11-2025 18:45:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_AddData]
	@Event_Poster varbinary(Max),
	@Event_Title Varchar(500),
	@Speaker_Singer varchar(500),
	@Location varchar(500),
	@Event_DateTime Datetime ,
	@Publish_From date,
	@Publish_Till date,
	@Description varchar(800),
	@Language varchar(100),
	@Price int,
	@Duration int,
	@category_Id int
as
Begin
	insert into AddNewEvent (Event_Poster,Event_Title,Speaker_Singer, Location, Event_DateTime,Publish_From,Publish_Till,Description,Language, price, Duration, category_Id) values (@Event_Poster,@Event_Title,@Speaker_Singer, @Location, @Event_DateTime,@Publish_From,@Publish_Till,@Description,@Language,@price,@Duration, @category_Id);
End
GO
/****** Object:  StoredProcedure [dbo].[sp_deleteEvent]    Script Date: 03-11-2025 18:45:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_deleteEvent]
@EventId int
as
Begin
	delete from AddNewEvent where EventId=@EventId;
End
GO
/****** Object:  StoredProcedure [dbo].[sp_getcategory]    Script Date: 03-11-2025 18:45:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_getcategory]
as
begin
Select * from GetCategory
End
GO
/****** Object:  StoredProcedure [dbo].[sp_HNewUser]    Script Date: 03-11-2025 18:45:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_HNewUser]
@Name varchar(100),
@Email Nvarchar(150),
@Password Nvarchar(256)
as
Begin
	Insert into HomeUser (Name, Email, Password) values(@Name, @Email, @Password);
End
GO
/****** Object:  StoredProcedure [dbo].[sp_Logincheck]    Script Date: 03-11-2025 18:45:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Logincheck]
@Email Nvarchar(150),
@Password Nvarchar(256)
as
Begin
	Select * From HomeUser where Email=@Email and Password =@Password COLLATE SQL_Latin1_General_CP1_CS_AS;
End
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginDetails]    Script Date: 03-11-2025 18:45:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_LoginDetails]
@Username nvarchar(255),
@Password nvarchar(255)
as
Begin
Select * from LoginDetails where Username=@Username and Password=@Password
End
GO
/****** Object:  StoredProcedure [dbo].[sp_showdataonhomepage]    Script Date: 03-11-2025 18:45:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_showdataonhomepage]
as
Begin
	Select * from AddNewEvent
	inner join GetCategory as g on AddNewEvent.category_Id =g.catrgoeyId
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateEvent]    Script Date: 03-11-2025 18:45:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEvent]
    @EventId INT,
    @Event_Poster VARBINARY(MAX)=null,
    @Event_Title VARCHAR(500)=null,
    @Speaker_Singer VARCHAR(500)=null,
    @Location VARCHAR(500)=null,
    @Event_DateTime DATETIME,
    @Publish_From DATE,
    @Publish_Till DATE,
    @Description VARCHAR(800),
    @Language VARCHAR(100),
    @Price INT,
    @Duration INT,
    @catrgoeyId INT
AS
BEGIN
    UPDATE AddNewEvent
    SET
        Event_Poster = COALESCE(@Event_Poster, Event_Poster),
        Event_Title = @Event_Title,
        Speaker_Singer = @Speaker_Singer,
        Location = @Location,
        Event_DateTime = @Event_DateTime,
        Publish_From = @Publish_From,
        Publish_Till = @Publish_Till,
        Description = @Description,
        Language = @Language,
        Price = @Price,
        Duration = @Duration,
        category_Id = @catrgoeyId
    WHERE EventId = @EventId;
END
GO
USE [master]
GO
